body, html, #root {
  height: 100%;
  width: 100%;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
  text-align: center;
}


.mytext1{
  color: white;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  padding: 50px;
  animation: text 5s 1;
}

@keyframes text {
  30%{
    letter-spacing: 25px;
  }
  85%{
    letter-spacing: 8px;
  }
}

.list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list div {
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.list p {
  margin-top: 10px;
  margin-right: 5px;
  width: 99%;
  height: 100px;
  text-align: left;
  color: black;
}

.list a {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.list a img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
}

@media screen and (max-width: 950px) {
  .list a img {
    display: none;
  }

  .list p {
    width: 100%;
  }
}